<!--<div>-->
<!--&lt;!&ndash;  [ngClass]="{&ndash;&gt;-->
<!--&lt;!&ndash;    'expand-menu': miniSidebar === true && expandMenu === true ,&ndash;&gt;-->
<!--&lt;!&ndash;    'mini-sidebar': miniSidebar === true,&ndash;&gt;-->
<!--&lt;!&ndash;    'menu-opened': mobileSidebar === true,&ndash;&gt;-->
<!--&lt;!&ndash;    'slide-nav': mobileSidebar === true&ndash;&gt;-->
<!--&lt;!&ndash;  }"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash; Main Wrapper &ndash;&gt;-->
<!--  <div class="main-wrapper" [ngClass]="{ dark: darkTheme }">-->
<!--    <app-header></app-header>-->
<!--    <div>-->
<!--      <ng-container *ngIf="sideBaractivePath === false">-->
<!--        <app-sidebar-one *ngIf="changeLayout === '1'"></app-sidebar-one>-->
<!--&lt;!&ndash;        <app-sidebar-two *ngIf="changeLayout === '2'"></app-sidebar-two>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-sidebar-three *ngIf="changeLayout === '3'"></app-sidebar-three>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-sidebar-four *ngIf="changeLayout === '4'"></app-sidebar-four>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-sidebar-five *ngIf="changeLayout === '5'"></app-sidebar-five>&ndash;&gt;-->
<!--      </ng-container>-->
<!--      <div [class.container]="changeLayout === '4' || changeLayout === '3'">-->
<!--        <div-->
<!--          class="page-wrapper"-->
<!--          [ngClass]="{-->
<!--            'page-wrapper-one': changeLayout === '2',-->
<!--            'page-wrapper-two': changeLayout === '3',-->
<!--            'page-wrapper-three': changeLayout === '4',-->
<!--            'page-wrapper-four': changeLayout === '5',-->
<!--            'ms-0': sideBaractivePath === true,-->
<!--            'content-wrapper' : page === 'pos'-->
<!--          }"-->
<!--        >-->
<!--          <div class="content">-->
<!--            <router-outlet></router-outlet>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Main Wrapper &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <app-layout></app-layout>-->
<!--  </div>-->
<!--  &lt;!&ndash; Main Wrapper &ndash;&gt;-->
<!--</div>-->
